h6 {
  font-family: "Ubuntu Mono";
  /* color: white; */
  color: #2b303b;
  /* background-color: #2b303b; */
  padding: 0px 3px 3px 0px;
  display: inline-block;
  text-decoration: underline;
}

p {
  font-family: "Ubuntu Mono";
  font-size: 16px;
}

#underlined {
  text-decoration: underline;
}

.react-tabs__tab--selected {
  border-radius: 0 !important;
}

.right-column {
  padding: 17px;
}

.note {
  background-color: black;
  padding: 2px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
  text-align: center;
}
