h6 {
  font-family: "Ubuntu Mono";
  /* color: white; */
  color: #2b303b;
  /* background-color: #2b303b; */
  padding: 0px 3px 3px 0px;
  display: inline-block;
  text-decoration: underline;
}

p {
  font-family: "Ubuntu Mono";
  font-size: 16px;
}
