@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

h6 {
  font-family: "Ubuntu Mono";
  color: #2b303b;
  padding: 0px 3px 3px 0px;
  display: inline-block;
  text-decoration: underline;
}

p {
  font-family: "Ubuntu Mono";
  font-size: 16px;
}

#underlined {
  text-decoration: underline;
}

.react-tabs__tab--selected {
  border-radius: 0 !important;
}

.right-column {
  padding: 17px;
}

.note {
  background-color: black;
  padding: 3px 9px 3px 9px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
  text-align: center;
}

blockquote {
  font-family: "Noto Sans";
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.pagination {
  margin: auto;
  margin-bottom: 10px;
}

.input {
  float: left;
  width: 80.5%;
  height: 38px;
  text-indent: 10px;
  border: 1px solid #cccccc;
}

.input-button {
  width: 6.5rem;
  border-radius: 0 !important;
}

.author {
  float: right;
}
